.wave-loop::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3 Q 5 0 10 3 T 20 3 T 30 3 T 40 3 T 50 3 T 60 3' stroke='currentColor' fill='transparent' stroke-width='2' /%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 50px 4px;
  animation: scroll-wave 20s linear infinite;
}

@keyframes scroll-wave {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
