@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-default: Inter, Montserrat, Helvertica, Arial, sans-serif;
}

:root {
  /* Add BG Colors */

  --dark-background: #141d2c;
  --light-background: #f2f9fd;

  font-family: var(--font-default);
  line-height: 1.5;

  color-scheme: dark;
  background-color: var(--dark-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
